<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="cache-control" content="no-cache" />
    <meta charset="UTF-8" />
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Girder App</title>

    <!-- Load in BSVE base app styles -->
    <link rel="stylesheet" type="text/css" href="http://harbinger3-dev.elasticbeanstalk.com/workbench/styles/harbingerApp.css"/>

    <style>
    .content {
        /* The BSVE example had this padding for some button-like items.
        padding-left: 40px;
        */
        padding-left: 4px;
        overflow: hidden;
        width: 640px;
        height: 800px;
    }
    .control label {
        display: inline-block;
        width: 88px;
        margin: 0;
    }
    .control input {
        display: inline-block;
        width: 180px;
        padding: 2px;
        margin: 0;
    }
    .control input[type=checkbox] {
        width: auto;
    }
    .control {
        padding-bottom: 2px;
    }
    .buttons-right {
        float: right;
        position: relative;
        right: 35px;
    }
    .buttons button {
        margin-left: auto;
        margin-right: 0;
        display: inline-block;
    }
    .buttons:after {
        clear: both;
    }

    .grits-login {
        position: relative;
        left: 0%;
        width: 50%;
        margin-bottom: 25px;
    }
    .grits-result {
        margin-bottom: 0px;
        color: steelblue;
        border-radius: 5px;
        padding: 3px;
        cursor: pointer;
        transition: background-color 100ms;
    }
    .grits-result .result-date {
        display: inline;
        font-weight: bold;
        margin-right: 5px;
        transition: color 100ms;
    }
    .grits-result:hover,.grits-result.highlighted {
        color: firebrick;
        background-color: rgba(255,255,0,0.5);
        box-shadow: 0px 0px 5px black;
    }
    .grits-result.picked {
        color: firebrick;
        background-color: rgba(0,255,255,0.5);
        box-shadow: 0px 0px 5px black;
    }
    .grits-result.picked:hover {
        color: firebrick;
        background-color: rgba(255,255,128,0.5);
        box-shadow: 0px 0px 5px black;
    }
    .grits-result .result-description {
        display: inline;
    }

    .grits-results-container {
        width: 50%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        float: right;
        padding-left: 5px;
        padding-right: 5px;
    }
    .grits-search-form {
        width: 50%;
        float: left;
        height: 100%;
    }
    .grits-container:after {
        clear: both;
    }

    .grits-container {
        height: inherit;
    }
    .grits-row-1 {
        height: 43%;
    }
    .grits-row-2 {
        height: 57%;
    }

    #grits-map {
        height: 100%;
        width: 100%;
    }
    </style>

    <!-- Load jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Load Angular JS -->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-cookies.min.js"></script>
    <!-- Dependency for BSVE Components -->
    <script type="text/javascript" src="http://harbinger3-dev.elasticbeanstalk.com/workbench/vendor/angular-strap/angular-strap.js"></script>
    <!-- Load BSVE Angular Components -->
    <script type="text/javascript" src="http://harbinger3-dev.elasticbeanstalk.com/workbench/apps/harbingerComponents.js"></script>
    <!-- Load BSVE APP API -->
    <script type="text/javascript" src="http://harbinger3-dev.elasticbeanstalk.com/workbench/apps/API.js"></script>

    <!-- Load GeoJS and dependencies -->
    <script type="text/javascript" src="geo.ext.min.js"></script>
    <script type="text/javascript" src="geo.min.js"></script>

    <!-- APP Implementation -->
    <script type="text/javascript">
    var app = angular.module(
        'Girder App', ['harbingerComponents', 'ngCookies']);
    app.controller('AppController', function($scope, $http, $cookies) {
        var geo_map = null, geo_layer, geo_feature, drawWait = false,
            drawQueued = false, lastPicked = null;

        function triggerDraw() {
            if (!drawWait) {
                geo_map.draw();
                drawWait = true;
                window.setTimeout(function () {
                    drawWait = false;
                }, 100);
                return;
            }
            if (!drawQueued) {
                drawQueued = true;
                window.setTimeout(function () {
                    geo_map.draw();
                    drawQueued = false;
                }, 100);
            }
        }

        function showMap(data) {
            if (!geo_map) {
                geo_map = geo.map({
                    node: '#grits-map',
                    zoom: 1
                });
                geo_map.createLayer(
                    'osm',
                    {
                        baseUrl: 'http://otile1.mqcdn.com/tiles/1.0.0/map/'
                    }
                );
                geo_layer = geo_map.createLayer('feature');
                geo_feature = geo_layer.createFeature('point',
                                                      {selectionAPI:true});
            }
            geo_feature.data(data)
                .style({
                    fillColor: function (d) {
                        return d.picked ? (d.selected ? '#FFFF80' : 'aqua') :
                               d.selected ? 'yellow' : 'steelblue';
                    },
                    fillOpacity: function (d) { return d.selected ? 0.9 : 0.65; },
                    strokeColor: 'black',
                    strokeWidth: 1,
                    radius: 7
                })
                .position(function (d) {
                    return {
                        x: d.coordinates[0],
                        y: d.coordinates[1]
                    };
                })
                .geoOff(geo.event.feature.mouseclick)
                .geoOn(geo.event.feature.mouseclick, function (evt) {
                    if (evt.zIndex !== 0) {
                        // Only handle the top element clicked
                        return;
                    }
                    var elemId = '#alert-' + evt.data.id;
                    $('.picked').removeClass('picked');
                    $(elemId).addClass('picked')[0].scrollIntoView();
                    if (lastPicked) {
                        lastPicked.picked = false;
                    }
                    lastPicked = evt.data;
                    evt.data.picked = true;
                    reorderData();
                    this.modified();
                    triggerDraw();
                })
                .geoOff(geo.event.feature.mouseover)
                .geoOn(geo.event.feature.mouseover, function (evt) {
                    evt.data.selected = true;
                    this.modified();
                    triggerDraw();
                    var elemId = '#alert-' + evt.data.id;
                    $(elemId).addClass('highlighted');
                })
                .geoOff(geo.event.feature.mouseout)
                .geoOn(geo.event.feature.mouseout, function (evt) {
                    delete evt.data.selected;
                    this.modified();
                    triggerDraw();
                    var elemId = '#alert-' + evt.data.id;
                    $(elemId).removeClass('highlighted');
                });
            geo_map.draw();
        }

        function reorderData() {
            // reorders the data in point feature class
            var data = geo_feature.data();
            var newData = [];
            data.forEach(function (d) {
                if (!d.selected) {
                    newData.push(d);
                }
            });
            data.forEach(function (d) {
                if (d.selected) {
                    newData.push(d);
                }
            });
            geo_feature.data(newData);
        }

        $scope.ready = false;

        $scope.selectAlert = function (result) {
            $('.highlighted').removeClass('highlighted');
            for (var n=0; n<result.points.length; n++) {
                result.points[n].selected = true;
            }
            reorderData();
            geo_feature.modified();
            triggerDraw();
        };

        $scope.unselectAlert = function (result) {
            $('.highlighted').removeClass('highlighted');
            for (var n=0; n<result.points.length; n++) {
                delete result.points[n].selected;
            }
            geo_feature.modified();
            triggerDraw();
        };

        $scope.transitionTo = function (result) {
            var elemId = '#alert-' + result.properties.id;
            $('.picked').removeClass('picked');
            $(elemId).addClass('picked');
            if (lastPicked) {
                lastPicked.picked = false;
            }
            lastPicked = result;
            result.picked = true;
            geo_map.transition({
                center: {
                    x: result.points[0].coordinates[0],
                    y: result.points[0].coordinates[1]
                },
                zoom: 5,
                interp: d3.interpolateZoom,
                duration: 1000
            });
        };

        $scope.url = 'http://localhost:8081';
        if ($cookies.girderUrl) {
            $scope.url = $cookies.girderUrl;
        }
        $scope.loginParams = [{
                key: 'url',
                value: $scope.url,
                label: 'Girder URL',
                placeholder: 'URL to girder server',
                title: 'Do not include a trailing slash.'
            },{ key: 'username', label: 'User Name'
            },{ key: 'password', label: 'Password', style: 'password'
        }];
        $scope.params = [{
                key: 'start',
                label: 'Start date',
                placeholder: 'Start date (inclusive)',
                title: 'Date format is YYYY-MM-DD.'
            },{
                key: 'end',
                label: 'End date',
                placeholder: 'End date (exclusive)',
                title: 'Date format is YYYY-MM-DD.'
            },{ key: 'country', label: 'Country'
            },{ key: 'disease', label: 'Disease'
            },{ key: 'species', label: 'Species'
            },{ key: 'description', label: 'Description'
            },{ key: 'diagnosis', label: 'Diagnosis'
            },{ key: 'id', label: 'Incident ID'
            },{
                key: 'limit',
                label: 'Limit',
                placeholder: '(default is 50, 0 for all)'
            },{ key: 'offset', label: 'Offset'
        }];
        if (!$scope.userToken && $cookies.girderToken) {
            $scope.userToken = $cookies.girderToken;
        }
        for (var i = 0; i < $scope.params.length; i += 1) {
            var param = $scope.params[i];
            param.style = param.style || 'text';
            param.placeholder = param.placeholder || '';
        }

        $scope.onReady = function() {
            // API has a connection with BSVE workbench
            $scope.ready = true;
        };
        $scope.login = function() {
            var url, username, password;
            for (var i = 0; i < $scope.loginParams.length; i += 1) {
                var param = $scope.loginParams[i];
                switch (param.key) {
                    case 'url': url = param.value; break;
                    case 'username': username = param.value; break;
                    case 'password': password = param.value; break;
                }
            }
            if (username && password) {
                $scope.url = url;
                var auth = 'Basic ' + btoa(username + ':' + password);
                $http.defaults.headers.common.Authorization = auth;
                $http.get(url + '/api/v1/user/authentication').success(
                        function (data) {
                    $scope.userToken = data.authToken.token;
                    $cookies.girderToken = $scope.userToken;
                    $cookies.girderUrl = url;
                    $scope.loginError = null;
                    $scope.resultsPending = null;
                }).error(function (error) {
                    $scope.loginError = error.message;
                });
            }
        };
        $scope.logout = function() {
            $scope.results = null;
            $scope.resultsError = null;
            $scope.userToken = null;
            $cookies.girderToken = '';
            $scope.loginError = null;
            $scope.resultsPending = null;
        };
        $scope.search = function() {
            var params = {}, url, username, password;
            for (var i = 0; i < $scope.params.length; i += 1) {
                var param = $scope.params[i];
                if (param.value !== null && param.value !== undefined && param.value.length) {
                    params[param.key] = param.value;
                }
            }
            params.token = $scope.userToken;
            params.geoJSON = 1;
            $scope.results = null;
            $scope.resultsError = null;
            $scope.resultsPending = true;
            $http.get($scope.url + '/api/v1/resource/grits?' + $.param(params)
                    ).success(function (gjson) {
                var data = ((gjson || {}).features || []);
                var points = [];
                /* Split alerts with multiple events into multiple items */
                for (var i=0; i < data.length; i++) {
                    var item = data[i];
                    item.properties.link = 'http://www.healthmap.org/ln.php?' +
                        item.properties.id.substr(0, item.properties.id.length-4);
                    item.points = [];
                    if ($.isArray(item.geometry.coordinates[0])) {
                        item.numPoints = item.geometry.coordinates.length;
                        for (var n=0; n < item.numPoints; n++) {
                            var point = {
                                id: item.properties.id,
                                coordinates: item.geometry.coordinates[n]
                            };
                            item.points.push(point);
                            points.push(point);
                        }
                    } else {
                        item.numPoints = 1;
                        var point = {
                            id: item.properties.id,
                            coordinates: item.geometry.coordinates
                        };
                        item.points.push(point);
                        points.push(point);
                    }
                }
                $scope.resultsPending = null;
                $scope.results = data;
                $scope.resultsError = null;
                showMap(points);
            }).error(function (error) {
                $scope.resultsPending = null;
                $scope.results = null;
                $scope.resultsError = 'Failed to get any results';
            });
        };

        API.init($http, $scope.onReady);
    });
    </script>
</head>
<body ng-app="Girder App" ng-controller="AppController">
    <div class="row-fluid">
        <!--
        <div hb-status-buttons add-item="addItem(type)"></div>
        -->
        <div class="content">

<div class='grits-login' ng-if='!userToken'>
    <h2>Girder GRITS Search</h2>
    <form novalidate>
        <div class='control' ng-repeat='param in loginParams'>
            <label for='{{"girder-"+param.key}}'>{{param.label}}</label>
            <input type='{{param.style}}' ng-model='param.value'
             placeholder='{{param.placeholder}}' title='{{param.title}}'/>
        </div>
        <div class='buttons-right'>
            <button ng-click="login()">Log In</button>
        </div>
        <div ng-if='loginError'>
            <h3>Error</h3>
            <div class='login-error'>{{loginError}}</div>
        </div>
    </form>
</div>
<div class='grits-container' ng-show='userToken'>
    <div class='grits-row-1' ng-if='userToken'>
        <div class='grits-search-form'>
        <h2>Girder GRITS Search</h2>
        <form novalidate>
            <div class='control' ng-repeat='param in params'>
                <label for='{{"girder-"+param.key}}'>{{param.label}}</label>
                <input type='{{param.style}}' ng-model='param.value'
                 placeholder='{{param.placeholder}}' title='{{param.title}}'/>
            </div>
            <div class='buttons'>
                <div class='buttons-right'>
                    <button ng-click="search()">Search</button>
                </div>
                <button ng-click="logout()">Log Out</button>
            </div>
        </form>
        </div>

        <div class='grits-results-container'>
            <div ng-if='resultsPending'>
                <h3>Searching...</h3>
            </div>
            <div ng-if='results != null'>
                <h3>Results ({{results.length}})</h3>
                <div class='grits-result' ng-repeat='result in results'
                        ng-mouseover='selectAlert(result)'
                        ng-mouseleave='unselectAlert(result)'
                        ng-click='transitionTo(result)'
                        id='alert-{{result.properties.id}}'
                        title='{{result.properties.id}}'
                        >
                    <div class='result-date'>{{result.properties.date}}</div>
                    <div class='result-description'><a
                            href='{{result.properties.link}}' target='grits-link'>{{result.properties.summary}}</a></div>
                </div>
            </div>
            <div ng-if='resultsError'>
                <h3>Error</h3>
                <div class='results-error'>{{resultsError}}</div>
            </div>
        </div>
            </div>
    <div class='grits-row-2'>
        <div id='grits-map'></div>
    </div>

        </div>
    </div>
</div>

</body>
</html>
